apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Since Prometheus and Grafana run on the same 'monitoring' node, localhost is used
    url: http://localhost:{{ prometheus_port }}
    isDefault: true
    editable: false
